.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
#back{
    background:url("../../assets/Maps.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}