<div class="container">
  <div class="row" id="back" style="padding:5%">
    <div class="col-md-12" style="text-align: center">
      <h1 style="color:whitesmoke">Regions</h1>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/region']">Regions</a>
        <a class="nav-item nav-link" [routerLink]="['/coun']">All Countries</a>

      </div>
    </div>
  </nav>
  <div style="margin:4%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img class="d-block w-100" src="../../assets/Africa.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>AFRICA</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/Asia.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>ASIA</h3>
        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/Europe.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>EUROPE</h3>
        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/NA.jpg" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>NORTH AMERICA</h3>

        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/Rio-de-Janeiro.jpg" alt="Fifth slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>SOUTH AMERICA</h3>
        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/Oceania.jpeg" alt="Sixth slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>OCEANIA</h3>

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let y of array" style="margin-bottom:3%;">

      <figure class="figure">
        <img src="../../assets/icon.png" height="150px" width="150px" />
        <figcaption>
          <button style="margin-top:2%;" class="btn bg-dark btn-sm" [routerLink]="['/regionview',y]">
            <span style="color:white">{{y}}</span>
          </button>
        </figcaption>
      </figure>


    </div>



  </div>

</div>